.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.rounded1 {
    border-radius: 7px 0;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #333;
}

::-webkit-scrollbar-thumb {
background: #555;
}

::-webkit-scrollbar-thumb:hover {
background: #777;
}